# Project 01 - Write a Data Science Blog Post

## Part 3: Data Modeling

### Data
 - NBA 2018-2019 Player Box Scores 
 - NBA 2018-2019 Daily Fantasy Scores (DFS)
 
### Business Questions
1. What are the key drivers for top fantasy scores?
2. What effect, if any, does seasonality play during the NBA season? 
3. Which positions are the most valuable from a fantasy score perspective?

### Import Packages

In [1]:
import os
import numpy as np
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [2]:
os.chdir('../lib')

In [3]:
from helpers import get_feature_importance

### Import Data

In [4]:
os.chdir('../data')

In [5]:
df = pd.read_csv("Cleaned-Dummies_NBA1819_PlayerStats-DFS.csv")

# Dropping the DRAFTKINGS/FANDUEL columns in favor of YAHOO; unncessary columns
del_cols = ['Unnamed: 0','GAME-ID', 'DATE', 'PLAYER-ID', 'MIN',
            'DRAFTKINGS_FANTASYPOINTS', 'FANDUEL_FANTASYPOINTS',
            'DRAFTKINGS_CLASSIC_SALARY', 'FANDUEL_FULLROSTER_SALARY',
            'YAHOO_FULLSLATE_SALARY']

df.drop(del_cols, axis=1, inplace=True)
df.head()

,MINUTES,USAGE RATE,DAYSREST,YAHOO_FANTASYPOINTS,FG,FGA,3P,3PA,FT,FTA,...,POSITION_F,POSITION_F-C,POSITION_F-G,POSITION_G,POSITION_G-F,POSITION_PF,POSITION_PG,POSITION_SF,POSITION_SG,POSITION_Unknown
0,22.90,20.382575,4,11.7,3,8,0,4,0,0,...,0,0,0,0,0,1,0,0,0,0
1,34.22,14.880005,4,22.2,3,10,2,7,0,0,...,0,0,0,0,0,0,0,1,0,0
2,36.82,32.498788,4,42.0,9,21,1,4,4,5,...,0,0,0,0,0,0,0,0,0,0
3,24.33,18.975299,4,11.6,2,7,0,0,1,2,...,0,0,0,0,0,0,1,0,0,0
4,42.73,21.251164,4,64.0,7,14,0,0,5,10,...,0,0,0,0,0,0,1,0,0,0

In [6]:
#df.info(verbose=True)

In [7]:
pos_df = df.filter(regex='POSITION')
pos_df.head()

,POSITION_C,POSITION_C-F,POSITION_F,POSITION_F-C,POSITION_F-G,POSITION_G,POSITION_G-F,POSITION_PF,POSITION_PG,POSITION_SF,POSITION_SG,POSITION_Unknown
0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0

In [8]:
player_df = df.filter(regex='PLAYER')
player_df.head()

,PLAYER_Aaron Gordon,PLAYER_Aaron Holiday,PLAYER_Abdel Nader,PLAYER_Al Horford,PLAYER_Al-Farouq Aminu,PLAYER_Alan Williams,PLAYER_Alec Burks,PLAYER_Alex Abrines,PLAYER_Alex Caruso,PLAYER_Alex Len,...,PLAYER_Wilson Chandler,PLAYER_Yante Maten,PLAYER_Yogi Ferrell,PLAYER_Yuta Watanabe,PLAYER_Zach Collins,PLAYER_Zach LaVine,PLAYER_Zach Lofton,PLAYER_Zaza Pachulia,PLAYER_Zhaire Smith,PLAYER_Zhou Qi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Data Preprocessing

In [9]:
# Split into explanatory and response variables
X = player_df #pos_df #df.drop('YAHOO_FANTASYPOINTS', axis=1)
y = df['YAHOO_FANTASYPOINTS']

In [10]:
# Split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [11]:
# Fit standard scaler to training set
standardscaler = StandardScaler()
standardscaler.fit(X_train)

# Transform the feature variables
X_train_std = standardscaler.transform(X_train)
X_test_std = standardscaler.transform(X_test)

### Instantiate Model

In [12]:
# Instantiate the model
rf_regressor = RandomForestRegressor()
rf_regressor.fit(X_train_std, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [13]:
# Predict and score the model
y_test_preds = rf_regressor.predict(X_test_std)

"The R-squared score for the model using the quantitative variables was {} on {} values.".format(r2_score(y_test, y_test_preds), len(y_test))

'The R-squared score for the model using the quantitative variables was 0.542914870156348 on 8357 values.'

#### Feature Importance

In [14]:
X_colnames = df.drop(['YAHOO_FANTASYPOINTS'], axis=1).columns
pos_colnames = pos_df.columns
player_colnames = player_df.columns

get_feature_importance(rf_regressor, player_colnames, num_features=50)

                         Feature  Importance
0            PLAYER_James Harden    0.036158
1   PLAYER_Giannis Antetokounmpo    0.034098
2       PLAYER_Russell Westbrook    0.026266
3           PLAYER_Anthony Davis    0.025229
4             PLAYER_Joel Embiid    0.020338
5            PLAYER_Nikola Jokic    0.019832
6             PLAYER_Paul George    0.018369
7          PLAYER_Andre Drummond    0.018345
8           PLAYER_Kawhi Leonard    0.016742
9          PLAYER_Nikola Vucevic    0.016290
10           PLAYER_Kevin Durant    0.016013
11         PLAYER_Damian Lillard    0.015321
12          PLAYER_Stephen Curry    0.015194
13     PLAYER_Karl-Anthony Towns    0.014534
14           PLAYER_Bradley Beal    0.014400
15           PLAYER_Kemba Walker    0.014157
16           PLAYER_LeBron James    0.014048
17           PLAYER_Kyrie Irving    0.012305
18            PLAYER_Rudy Gobert    0.012082
19          PLAYER_Blake Griffin    0.011953
20            PLAYER_Ben Simmons    0.011883
21          PLAYER_DeMar DeRozan    0.010977
22      PLAYER_LaMarcus Aldridge    0.009894
23           PLAYER_Jrue Holiday    0.009333
24            PLAYER_Luka Doncic    0.009272
25           PLAYER_Devin Booker    0.009080
26            PLAYER_Mike Conley    0.008101
27             PLAYER_Trae Young    0.008020
28          PLAYER_Julius Randle    0.007907
29           PLAYER_Jusuf Nurkic    0.007859
30             PLAYER_Chris Paul    0.007729
31          PLAYER_Tobias Harris    0.007697
32           PLAYER_De'Aaron Fox    0.007189
33       PLAYER_D'Angelo Russell    0.007122
34             PLAYER_Kyle Lowry    0.007030
35           PLAYER_Jimmy Butler    0.007020
36       PLAYER_Donovan Mitchell    0.006978
37          PLAYER_Pascal Siakam    0.006972
38            PLAYER_CJ McCollum    0.006856
39            PLAYER_Zach LaVine    0.006582
40           PLAYER_Jamal Murray    0.006570
41             PLAYER_Marc Gasol    0.006508
42         PLAYER_Draymond Green    0.006317
43           PLAYER_Steven Adams    0.006237
44           PLAYER_Myles Turner    0.005991
45           PLAYER_Aaron Gordon    0.005975
46           PLAYER_Clint Capela    0.005893
47           PLAYER_Lou Williams    0.005663
48          PLAYER_Deandre Ayton    0.005560
49          PLAYER_Klay Thompson    0.005540

#### Findings: 

By using "Yahoo Fantasy Score" as our response variable and the rest of the preprocessed columns as explanatory variables, we have concluded that the most important features to predict "Yahoo Fantasy Score" were the basic box scores. From most important to least:
1. Points
2. Total Rebounds
3. Assists
4. Steals
5. Blocks
6. Minutes

By looking at just the positions as explanatory variables, we have concluded that the most valuable positions contributing to overall fantasy score seems to be:
1. Centers
2. Point Guards
3. Power Forwards
4. Forwards